<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta author="SC">
	<title>Intro</title>
    {% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'howdy/landing.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="icon" type="image/png" href="{ % static 'howdy/images/man.png' %}">
</head>

<body>
	<div class="navbar">

		<div class="dp"><img src="{% static 'howdy/images/pp.jpg' %}" height="60px" width="60px" ></div>
		<span class="ico">
			<a href="https://www.facebook.com/osheen.shrestha.90" target="_blank"><img src="{% static 'howdy/images/fb.png' %}" height="50px" width="50px" ></a>
			<a href="https://www.instagram.com/oooo_seen/" target="_blank"><img src="{% static 'howdy/images/insta.png' %}" height="50px" width="50px"></a>
			<a href="https://www.linkedin.com/in/osheen-shrestha-37b5a0121/" target="_blank"><img src="{% static 'howdy/images/lin.png' %}" height="50px" width="50px" ></a>
		<span>
	</div>
<br><br>
<div class="content">
	<div class="box">
		<center><h2><a href="#">Introduction</h2></a></center>
		<p>Today, I’m describing a person whom I’ve known so well over the years. I bet my life that no-one knows her better than I do.

It was an ordinary day for her as she was attending her physics lectures. She felt that physics was the hardest subject in the world. Even the teacher teaching the subject seemed pretty difficult to understand. She used to wonder, was it the teacher or the subject she couldn’t understand. She later realized that none of them were to blame but herself physics wasn’t her cup of tea. As usual, the teacher was dictating the notes and the students were busy noting it down. She was alone in the first bench, as her best friend missed the classes. The teacher looked at her paper and suddenly burst into laughter. It was apparent to her that she had made a silly mistake. The teacher was kind enough to humiliate her in front of her friends my correcting her simple error. “The temperature is denoted by T, not ‘capital’ ‘t’” he said. Shameful thing is, she kept repeating such silly mistakes over and over again.

Day Dreaming has always been her hobby. She wonders about things so much that if a normal person were to think as much as she would, their head might break open. But, day dreaming for her is a boon as it gives her the confident to do better in her daily activities. She dreams about having her own company where she has 1000 of staff members that are obedient to her. She wants this dream to become a reality, so the fear of not realizing this dream forces her to work harder. She even forms routines to follow so she would be successful. But as far as I know her, she has failed to follow it every single time. I have reasons to doubt that she will be repeating the same “make-routine-fail-to-implement” strategy in the future.

She doesn’t think she’s smart but she wants to learn. Yes, she is the one who cannot deal with every situation effectively, but she tries to deal with the situation in the best way she can. And she also makes sure she learns from her efforts. Every step of her life is a lesson to her.

She does get upset when it fails, but it encourages her to do better. She is studying IT and has already realized that she’s not meant to be an IT professional, but a business-woman. She’s proud that she will be a business woman who will have IT background, which will help her forward. She’s not smart and it means she has more to learn, she doesn’t write well, meaning she will have to keep writing until it gets better. But she hasn’t given up, She’s super-positive about everything, which I believe is the best part about her that I’ve known. Falling, getting up and moving-on is the motto of her life.
<p>
	</div>
</div>
	<center><a href="/">Go back home</a></center>
</body>
<br>
<footer>
<center>
	<br>
 © Copyright 2017, All Rights Reserved, SC.
 </center>
<br>
</footer>
</html>



