<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta author="SC">
	<title>Introduction</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'howdy/landing.css' %}">
	<link rel="icon" type="image/png" href="{% static 'howdy/images/table.png' %}">
</head>

<body>
<div class="navbar">
<div class="dp"><img src= "{% static 'howdy/images/pp.jpg' %}" height="70px" width="70px" ></div>
		<span class="ico">
			<a href="https://www.facebook.com/osheen.shrestha.90" target="_blank"><img src="{% static 'howdy/images/fb.png' %}" height="50px" width="50px" ></a>
			<a href="https://www.instagram.com/oooo_seen/" target="_blank"><img src="{% static 'howdy/images/insta.png' %}" height="50px" width="50px"></a>
			<a href="https://www.linkedin.com/in/osheen-shrestha-37b5a0121/" target="_blank"><img src="{% static 'howdy/images/lin.png' %}" height="50px" width="50px" ></a>
		</span>
</div>
<br><br>
<div class="content">

<div class="box">
		<center><h2><a href="Details.html">Details</h2></a></center>

		<table class="table">
		<tr>
			<td><b>Name</b></td>
			<td>Osheen Shrestha</td>
		</tr>
		<tr>
			<td><b>Age</b></td>
			<td>22</td>
		</tr>
		<tr>
			<td><b>Nationality</b></td>
			<td>Nepali</td>
		</tr>
		<tr>
			<td><b>Ethnicity</b></td>
			<td>Newari</td>
		</tr>
		<tr>
			<td><b>Occupation</b></td>
			<td>Student</td>
		</tr>
		<tr>
			<td><b>Address</b></td>
			<td>KTM</td>
		</tr>
		<tr>
			<td><b>Contact</b></td>
			<td>9840092977</td>
		</tr>

	</table>
	</div>
<br>
	<a href="/about/"><center>Read About Me</center></a>
</div>
<br>
<footer>
<center>
	<!--<a href="https://www.facebook.com/SuS.Chitrakar"><img src="img/fb.png" height="50px" width="50px" ></a>
	<a href="https://www.instagram.com/sush.chitre/"><img src="img/insta.png" height="50px" width="50px"></a>
	<a href="https://plus.google.com/u/0/110342702679066464450"><img src="img/google.png" height="50px" width="50px" ></a>
	<a href="https://open.spotify.com/user/chitre_420"><img src="img/spotify.png" height="50px" width="50px" ></a>
	<a href="https://www.linkedin.com/in/sushant-chitrakar-530bb3101/"><img src="img/lin.png" height="50px" width="50px" ></a>-->

	<br>
 © Copyright 2017, All Rights Reserved, SC.
 </center>
<br>
</footer>
</html>